.header{
  margin: 0 auto;
  padding: 1rem 0;
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: all .3s ease;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.out {
    transform: translateY(-100%);
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: -100%;
    top: 7.5rem;
    z-index: 5;
    transition: .3s ease;
    &.open{
      right: 2rem;
    }
    &-link {
      font-size: 1.6rem;
      font-weight: 600;      
      line-height: 100%;
      margin-bottom: .5rem;
      color: #fff;
    }
  }
  &__logo {
    max-width: 10rem;
  }
  &__burger {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    z-index: 5;
    &-bar {
      height: .5rem;
      width: 100%;
      background-color: #ff720b;
      display: block;
      border-radius: .5rem;
      transition: .3s ease;
      &._01{
        transform: translateY(-.4rem);
      }
      &._03{
        transform: translateY(.4rem);
      }

    }
    &.open{
      .header__burger-bar._01{
        background-color: #fff;
        transform: translateY(.4rem) rotateZ(-45deg);
      }
      .header__burger-bar._02{
        opacity: 0;
      }
      .header__burger-bar._03{
        background-color: #fff;
        transform: translateY(-.6rem) rotateZ(45deg);
      }
    }
  }
  &__bg{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 0;
    height: 0;
    background: #ff720b;
    border-radius: 50%;
    transition: 0.3s ease;
    &.open{
      width: 50rem;
      height: 50rem;
      transform: translate(50%,-17%);
    }
  }
}